In [1]:
# probability of getting 3 when a die is rolled

In [2]:
ns = 6
na = 1
pa = na/ns
print("probability of getting 3 is: ",pa)

probability of getting 3 is:  0.16666666666666666

In [3]:
# probability of atleast getting one head when a coin is tossed thrice

In [4]:
ns = 8
na = 7
pa = na/ns
print("probability of getting atleast one head is: ",pa)

probability of getting atleast one head is:  0.875

In [5]:
ns = 10
na = 7
pa = na/ns
print("probability of not getting blue jellybean is: ",pa)

probability of not getting blue jellybean is:  0.7

In [6]:
# probability that person A will be alive in 20 years is 0.7
# probability that person B will be alive in 20 years is 0.7
# probability that both the persons will be alive in 20 years

In [7]:
P = 0.7*0.5
print("probability that they will be alive after 20 years is:", P)

probability that they will be alive after 20 years is: 0.35

In [8]:
def event_probability(n,s):
    return n/s

In [9]:
# A fair die is tossed twice
# find the probability of getting a 4 or 5 on the first toss
# 1,2,3 in the second toss

In [10]:
pa = event_probability(2,6)
pb = event_probability(3,6)
P = pa*pb
print("probability of getting a 4 or 5 on the first toss and 1,2 or 3 in the second toss is: ",P)

probability of getting a 4 or 5 on the first toss and 1,2 or 3 in the second toss is:  0.16666666666666666

In [11]:
# ns ={W,W,W,W,W,B,B,B,G,G}

In [12]:
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of getting white, black and green in that order is ",(pw*pb*pg))

the probability of getting white, black and green in that order is  0.041666666666666664

In [13]:
cards = 52
hearts = 13
clubs = 13
P = ((13/52)+(13/52))
print("the probability of drawing a heart or a club is: ",P)

the probability of drawing a heart or a club is:  0.5

In [14]:
cards = 52
ace = 4
king = 4
queen = 4
P = ((ace/cards)+(king/cards)+(queen/cards))
print("the probability of drawing an ace, king or a queen is: ",P)

the probability of drawing an ace, king or a queen is:  0.23076923076923078

In [15]:
cards = 52
hearts =13
ace = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts, cards)+event_probability(ace,cards)-event_probability(ace_of_hearts,cards)
print("probability will be: ",heart_or_ace)

probability will be:  0.3076923076923077

In [16]:
# probability of not getting a 5 when a die is rolled

In [17]:
ns = 6
na = 1
pa = na/ns
print("probability of not getting 5 is: ",1-pa)

probability of not getting 5 is:  0.8333333333333334

In [22]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\stebin\appdata\local\programs\python\python310\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\stebin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\stebin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\stebin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\stebin\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/STEBIN/student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [24]:
len(df)

395

In [25]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

In [26]:
df['high_absenses'] = np.where(df['absences'] >= 10,1,0)

In [27]:
df['count'] = 1

In [28]:
df = df[['grade_A', 'high_absenses', 'count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [29]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0
)
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5